<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="CHREnterpriseLogging" type="EnterpriseMonitoring.Logging.NetFramework.Config.LoggingConfigurationSectionHandler, EnterpriseMonitoring.Logging.NetFramework" />
  </configSections>
  <appSettings>
    <add key="servicestack:license" value="6356-e1JlZjo2MzU2LE5hbWU6Q0ggUm9iaW5zb24gV29ybGR3aWRlLFR5cGU6QnVzaW5lc3MsSGFzaDpNeHh1QTJXa1Rob1F5bkpyeGdRL1R2UUhZRE1USVQ0cEZhT2ZHbjZwZU9JT0ZJbFZVa2FEbUxUOGsvd2xENVVlb3h2VjhmN2ZEdWo1blpGQ04rNmxFS1d4WHIybzZRUElKWmFaWWlvS3FMQkdiSGV5bzNMcHZOYndNNFI1b1IzejFNVStENGhBWFhranF5Y3pzdGd6Wkg4OWEveXhndCtqWC8yNE51YVlXdDQ9LEV4cGlyeToyMDE5LTA3LTIxfQ==" />
    <add key="FileSavePath" value="C:\\Temp\\Converted_RDL_Files\\" />
    <add key="SSRSIMSReportPath" value="/Produce Reports/IMS/" />
    <add key="SSRSCompassReportPath" value="/Produce Reports/Compass" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5.2" requestPathInvalidCharacters=""/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpModules>
    </httpModules>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <log4net>
    <appender name="EnterpriseMonitoringAppender" type="EnterpriseMonitoring.Logging.NetFramework.Log4Net.EnterpriseMonitoringAppender, EnterpriseMonitoring.Logging.NetFramework.Log4Net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%date [%thread] %-5level %logger [%M] - %message%newline" />
      </layout>
    </appender>
    <appender name="ElasticSearchAppender" type="CHRobinson.Enterprise.Logging.Log4Net.Appenders.ElasticSearchAppender, CHRobinson.Enterprise.Logging.Log4Net.Net45">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
      <!-- TODO: Replace Index, Username, and Password with your own! -->
      <!-- NOTE: Index names must be lowercase https://www.elastic.co/guide/en/elasticsearch/guide/current/_document_metadata.html -->
      <connectionString value="Server=esloggingdev;Index=ServiceStackServiceTemplate;Port=9200;rolling=true;User=EsTeamUsername;Pwd=EsTeamPassword" />
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <backColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="DebugAppender" />
      <appender-ref ref="ElasticSearchAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="EnterpriseMonitoringAppender" />
    </root>
  </log4net>
  <!--More information about logging SDK https://github.chrobinson.com/CHR/EnterpriseMonitoring.Logging/wiki/.NET-Full-Framework -->
  <CHREnterpriseLogging>
    <!--Reserved for Devops to Inject Repo name-->
    <ApplicationName>RandomHelpers.API</ApplicationName>
    <additionalTelemetryData>
      <!--All telemetry types will include the class & method that the logged event came from.-->
      <loggingLocation enable="false" />

      <!--Enable initializers for override telemetry data-->
      <telemetryContextInitializers enable="true" />
    </additionalTelemetryData>
    <globalData>
      <!-- use to help filter or search for different sets of events, this is shared within the appDomain; key value set, can have multi entries.-->
      <!--<data name="{key}" value="{value}"/>-->
    </globalData>
  </CHREnterpriseLogging>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
